<!--create.ejs-->
<form action="/estate/create" method="POST">
    <h4 style="font-size: 28px; text-align: center; margin-bottom: 20px; font-weight: bold;">Property Create Form</h4>
    <div class="row">
        <div class="col-md-6 col-sm-1">
            <div class="form-group">
                <label>Property title:</label>
                <input type="text" class="form-control" name="Estate[title]" required>
            </div>

            <div class="form-group">
                <label>Estate:</label>
                <input type="text" class="form-control" name="Estate[estatename]" required>
            </div>

            <div class="form-group row">
                <label class="col-sm-2">District:</label>
                <div class="col-sm-10">
                    <select id="estate" class="form-control" name="Estate[district]">
                        <option value="">Select district here</option>
                        <optgroup label="Hong Kong Island">
                            <option value="Chai Wan">Chai Wan</option>
                            <option value="North Point">North Point</option>
                            <option value="Southern District">Southern District</option>
                        </optgroup>

                        <optgroup label="Kowloon">
                            <option value="Chai Wan">Monk Kok</option>
                            <option value="North Point">Jordan</option>
                            <option value="Southern District">Prince Edward</option>
                        </optgroup>

                        <optgroup label="New Territories">
                            <option value="Tsuen Wan">Tsuen Wan</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Gross Area:</label>
                <input type="number" class="form-control" name="Estate[area]" min="0" max="2000" required>
            </div>

            <div class="form-group">
                <label>Rent: </label>
                <input type="number" class="form-control" name="Estate[rent]" min="0" max="30000" required>
            </div>
        </div>

        <div class="col-md-6 col-sm-1">
            <div class="form-group">
                <label>Image URL:</label>
                <input type="text" class="form-control" name="Estate[url]" required>
            </div>

            <div class="form-group">
                <label>Bedrooms:</label>
                <input type="number" class="form-control" name="Estate[roomnum]" min="0" required>
            </div>

            <div class="form-group">
                <label>Expected Tenants:</label>
                <input type="number" class="form-control" name="Estate[tenants]" min="0" required>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="Estate[highlightprop]" value="true"><label
                    class="form-check-label">Highlighted Property</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<!-- <script>
    async function createForm(oFormElement) {
        var response = await fetch(oFormElement.action, {
            method: oFormElement.method,
            credentials: 'same-origin',
            body: new FormData(oFormElement),
        });

        var r = confirm("Confirm Created?")

        if (r) {
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            window.location = data.url;
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }
    };
</script> -->