################################################
# Backend (Sails) stuff
################################################
backend/node_modules/
backend/.tmp/
backend/config/local.js
backend/.sailsrc-local

################################################
# Frontend (React+Vite) stuff
################################################
frontend/node_modules/
frontend/dist/
frontend/.env

################################################
# Root-level Node / misc
################################################
node_modules/
npm-debug.log
yarn-error.log
.DS_Store
*.log
*.out
*.pid
*~
*#

################################################
# IDE / editor files
################################################
.vscode/
.idea/
*.iml
.netbeans
nbproject

################################################
# Optional / temp
################################################
.env
